# --- Основная библиотека для бота ---
aiogram==3.4.1

# --- Библиотеки для работы с базой данных (SQLAlchemy) ---
SQLAlchemy==2.0.29
aiosqlite==0.19.0  # Асинхронный драйвер для SQLite

# --- Библиотека для работы с API Google Gemini ---
google-generativeai==0.5.4

# --- Библиотека для работы с изображениями ---
Pillow

# --- Библиотека для работы с переменными окружения (.env файл) ---
environs
aiodns==3.2.0
Babel==2.14.0